@font-face { font-family: 'TT Lakes'; src: url('/TTLakes/TTLakes-Medium.ttf format')('woff2'); font-weight: 400; font-style: normal; font-display: swap; } 

body {
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    padding: 0 30px;
    background-color: #F8F8F8;
    

}


.uslugi {
    display:flexbox;
    
}